*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#000;
color:white;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Georgia, serif;

overflow:hidden;

}

#intro{

text-align:center;

padding:30px;

}

#mensaje{

font-size:2rem;

font-weight:normal;

line-height:1.6;

opacity:1;

transition:1s;

}
#final{

text-align:center;

animation: aparecer 1.5s ease;

}

#ramo{

width:260px;

max-width:80%;

margin-bottom:25px;

transition:.5s;

}

#ramo:hover{

transform:scale(1.03);

}

h2{

margin-bottom:20px;

font-size:2rem;

font-weight:normal;

}

p{

font-size:1.1rem;

line-height:1.8;

margin-bottom:35px;

}

button{

background:white;

color:black;

border:none;

padding:15px 28px;

font-size:1rem;

border-radius:40px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}

@keyframes aparecer{

from{

opacity:0;
transform:translateY(20px);

}

to{

opacity:1;
transform:translateY(0);

}

}
