*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

background:#000;
color:white;

height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:Georgia, serif;

overflow:hidden;

}



#intro{

text-align:center;
padding:30px;

}



#mensaje{

font-size:2rem;

line-height:1.6;

font-weight:normal;

opacity:1;

transition:1.5s;

}



#primeraPantalla{

text-align:center;

animation:aparecer 2s ease;

}



#ramo{

width:260px;

max-width:80%;

margin-bottom:25px;

transition:.5s;

}



#ramo:hover{

transform:scale(1.05);

}



h2{

font-size:2rem;

font-weight:normal;

margin-bottom:20px;

}



p{

font-size:1.1rem;

line-height:1.8;

margin-bottom:35px;

}



button{

background:white;

color:black;

border:none;

padding:15px 28px;

font-size:1rem;

border-radius:40px;

cursor:pointer;

transition:.3s;

}



button:hover{

transform:scale(1.05);

}



.oculto{

display:none;

}




#modalNombre{

position:fixed;

inset:0;

background:rgba(0,0,0,.95);

justify-content:center;

align-items:center;

}



.cajaNombre{

background:white;

color:black;

padding:35px;

border-radius:20px;

text-align:center;

width:300px;

}



.cajaNombre input{

padding:12px;

width:80%;

border-radius:20px;

border:1px solid #aaa;

text-align:center;

}



#final{

position:fixed;

inset:0;

background:black;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

}



.rosa{

font-size:90px;

animation:caer 3s ease forwards;

}



#mensajeFinal{

font-size:1.4rem;

max-width:600px;

white-space:pre-line;

}



@keyframes caer{


from{

transform:translateY(-300px);

opacity:0;

}


to{

transform:translateY(0);

opacity:1;

}


}




@keyframes aparecer{


from{

opacity:0;

transform:translateY(20px);

}


to{

opacity:1;

transform:translateY(0);

}


}
